.main {
    margin: auto;
}

.header {
    /* background: rgb(13, 13, 13); */
    background: red;
    height: 150px;
}

ul {
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 300px;
}

li {
    list-style: none;
    display: inline;
    background: black;
    padding: 10px;
}

.picOne {
    height: 360px;
    width: 960px;
    align-content: center;
}